<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>XML2CSV converter</title>
</head>
<body>
<div class="header">
    <div class="row">
        <h1>XML2CSV converter</h1>
    </div>
</div>
<div class="row wrapper">
    <div class="span9">
        <div class="main">
            <p>XML2CSV converter upload your xml file to server and it returns file converted as csv file.
            Currently supports only Finvoice XML files.</p>
            <p>If file is converted successfully it will be automatically downloaded to your computer to your
            downloads folder with the name that you specified</p>
            <form action="upload" th:action="@{/convertXMLFile2CSV}" method="post" enctype="multipart/form-data">
                <input type="file" name="xmlSalesInvoice" />
                <label>filename: </label><input type="text" name="fileName" />
                <input type="submit" />
            </form>
            <p><label><th th:text="${message}"></th></label></p>
        </div>
    </div>
</div>
</body>
</html>